body {
  font-family: "Lato", sans-serif;
}
.projekte h1 {
  text-align: center;
}

i {
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}

.instagram:hover {
  background-image: linear-gradient(
    168deg,
    #651ff5 0%,
    #e139c6 20%,
    #e95035 62%,
    #f8d648 93%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.facebook:hover {
  color: #0866ff;
}
.youtube:hover {
  color: #ff0000;
}

.queen {
  text-align: center;
  color: blueviolet;
}

.knights {
  text-align: center;
  color: #fedc01;
}

p {
  font-size: 18px;
}
.contact-form {
  max-width: 70%;
  margin: 0 auto;
}
main.gallery {
  padding: 2rem;
}

.gallery > .gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  list-style-type: none;
}

.gallery > .gallery__list > li:nth-child(4n) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery > .gallery__list > li:nth-child(8n) {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery > .gallery__list > li > figure {
  height: 100%;
}

.gallery > .gallery__list > li > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
